h1 {
    text-align: start;
}
body {
      flex-direction: column;
      
      margin: 0;
      font-family: Arial, sans-serif;
    }
 input, button {
      margin-top: 10px;
      padding: 10px;
      font-size: 16px;
    }

    input {
      width: 200px;
    }
